body{
   
}
h1{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
}
.name-hightlight{
    color: rgb(202, 41, 108);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
